* {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 1.2rem;
}

window#waybar {
  background-color: #1e1e2e;
  color: #cdd6f4;
  border-top: 1px solid #313244;
}

#workspaces {
  margin: 0.5em;
}

#workspaces button {
  padding: 0;
  background-color: transparent;
  color: #a6adc8;
  border: none;
  font-size: 1em;
  min-width: 1.5em;
}

#workspaces button.active {
  background-color: #89b4fa;
  color: #1e1e2e;
}

#workspaces button:hover {
  background-color: #313244;
}

#window {
  margin: 0 0.5em;
  color: #f9e2af;
}

#clock {
  margin: 0 0.5em;
  color: #a6e3a1;
  font-weight: bold;
}